<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Eiusmod Lorem consequat culpa ex proident deserunt id ullamco sunt velit
        fugiat duis est.
      </p>
      <p>
        Eiusmod Lorem consequat culpa ex proident deserunt id ullamco sunt velit
        fugiat duis est.
      </p>
      <p>
        Eiusmod Lorem consequat culpa ex proident deserunt id ullamco sunt velit
        fugiat duis est.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
